<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main">
        {{>headers}}
        <img class ="myPic" src="/img/milind.jpg">
    </div>
    
    {{>footer}}
</body>

</html>